/.idea
/venv
/build
/dist
/__pycache__
*.env
debug.log
*lock.contracts.xlsx#
.~lock.contracts.xlsx\#
tests/test.py
*.xlsx#
tests/test2.py
alerts.py
tests/test_tx_alert.py
tests/test_event_alert.py
messages.py
